.conten_1_2{
    position: fixed;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); 
    z-index: 1;
    width: 100%;
}
.conten_1{ 
    border: 2px solid;
    display: flex;
    align-items: center;
}
.cPhone{
    border: 2px solid;
    display: flex;
    width: 15rem;
}
.phoneIcoImg{
    width: 1.5rem;
    margin-left: .8rem;
    margin-right: .8rem;
}
.phoneIcoTxt{
    font-size: 1.3rem;
    color: lightseagreen;
}
.cMail{
    border: 2px solid;
    display: flex;
    width: 15rem;
}
.emalIcoImg{
    margin-left: .8rem;
    width: 1.5rem;
    margin-right: .8rem;
}
.emailIcoTxt{
    font-size: 1.3rem;
    color: lightseagreen;
}
.cabNav{
    display: flex;
    margin-left: 30rem;
    width: 40rem;
    justify-content: space-evenly;
    border: 2px solid;
    font-size: 1.3rem;
}
.conten_2{ 
    border: 2px solid red;
    display: flex;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); 
    align-items: center;
    width: 100%;
}
.imgLogo{
    display: flex;
    width: 8rem;
    border-radius: 1rem;
    padding-top: .2rem;
    padding-bottom: 0.2rem;
}
.menuGral{
    border: 2px solid;
    display: flex; /* FLEX: comprende las opciones del menú */
    margin-left: 23rem;
    width: 64rem;
    justify-content: space-evenly;
    align-items: center; 
    font-size: 1.5rem;
}
.emailIcoTxt:hover{
    background-color: brown;
    color: white;
}
.mgTxt:hover{
    background-color: brown;
    color: white;
}
.mgCnav{
    color: lightseagreen;
}
.mgCnav:hover{
    background-color: brown;
    color: white;

}
@media (width < 600px) {
    .conten_1{
        display:grid;
        grid-template-areas: 
            "cPhone cMail"
            "cabNav cabNav";
    }
    .cPhone{
        grid-area: cPhone;
        width: 13rem;
    }
    .cMail{
        grid-area: cMail;
        margin-left: -30rem;
        width: 14rem;
    }
    .cabNav{
        grid-area: cabNav;
        margin-left: -15rem;
    
    }
    .conten_2{ 
        display: grid;
        grid-template-areas: 
            "imgLogo menuGral";
        background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); 
    }
    .imgLogo{
        border: 1px solid;
        margin-left: .5rem;  
    }    

    .menuGral{
        grid-area: menuGral;
        display: flex;
        flex-direction: column;
        margin-left: -1rem;
        width: 18rem;
        align-items:flex-start  
    }
        
    }
}


