*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.contenedor{
    position: relative;
    display: grid;
    grid-template-columns: 
        repeat(auto-fill, minmax(1fr));
    /*grid-template-columns: 1fr;*/
}
.fondo{
    width: 100%;
    height: 40rem;
    opacity: .4;
}
.fondoTxt{
    margin-top: -28rem;
}
.cabecera{
    color: black;
}
.headTitle{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}
.headSubt1{
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.headSubt2{
    margin-top: 1rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}
.selector{
    display: grid;
    grid-template-columns: 
        repeat(auto-fill, minmax(320px, 1fr));
    gap: 4rem;
    padding: 0 3rem 0 1.7rem;
    margin-top: 3rem;
    margin-bottom: 15rem;
}
.mttoImgTxt, .ordImgTxt, .redImgTxt, .impImgTxt, .audImgTxt, .ofcImgTxt{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
}
.mttoImg, .ordImg, .redImg, .impImg, .audImg, .ofcImg{
    width: 20rem;
    height: 15rem;
    border-radius: 5rem;
    border: .2rem solid blue;
}
.txtArti{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: .5rem;
}
.txtSubArti{
    margin-top: .5rem;
    font-size: 1rem;
}
#miPie{
    margin-top: -12rem;
}



