*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.contenedor{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

}

.fondo{
    width: 100%;
    height: 40rem;
    opacity: .4;
}
.dos{
    margin-top: -25rem;
}
.cabecera{
    color: black;
}
.headTitle{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}
.headSubt1{
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.headSubt2{
    margin-top: 1rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}
.selector{
    display: grid;
    grid-template-columns: 
        repeat(auto-fill, minmax(300px, 1fr));
    gap: 7rem;
    margin-top: 12rem;
    margin-bottom: 15rem;
}


.mttoImg, .ordImg, .redImg, .impImg, .audImg, .ofcImg{
    width: 25rem;
    height: 15rem;
    border-radius: 5rem;
    border: .2rem solid blue;
}

.mttoImgTxt, .ordImgTxt, .redImgTxt, .impImgTxt, .audImgTxt, .ofcImgTxt{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.txtArti{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: .5rem;
}
.txtSubArti{
    margin-top: .5rem;
    font-size: 1rem;
}
#miPie{
    margin-top: -12rem;
}



